.About {
  text-align: center;
}

.About-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .About-logo {
    animation: About-logo-spin infinite 10s linear;
  }
}

.About-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #fff;
}
a:hover {
  color: rgb(45, 129, 255);
}

.aboutPage {
  line-height: 25px;
  margin-bottom: 0px;
}

@keyframes About-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Nav Bar */

.NavBar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 7.81%;
  bottom: 84.77%;
}

/* Base */
.Base {
  background: #f4f7f8;
}

/* Wasteless */

.Wasteless {
  position: absolute;
  left: 5.14%;
  right: 86.25%;
  top: 9.86%;
  bottom: 86.91%;

  font-family: SF Pro;
  font-style: normal;
  font-weight: 510;
  font-size: 28px;
  line-height: 33px;

  color: #015249;
}

/* Logo */

.Logo {
  position: absolute;
  left: 1.88%;
  right: 96.11%;
  top: 9.86%;
  bottom: 87%;
}

/* Map Frame */

.MapFrame {
  position: absolute;
  left: 1.11%;
  right: 0.97%;
  top: 16.8%;
  bottom: 1.56%;

  background: #c4c4c4;
  /* Gray */

  border: 1px solid #a5a5af;
  border-radius: 12px;
}
